@model IEnumerable<FundRaiser.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Discover</h1>

<div class="d-flex justify-content-around">
    @foreach (var item in Model)
    {
        <div class="card " style="width: 25rem;">
            <img class="card-img-top" src="@("~/Image/"+item.Photo)" asp-append-version="true" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" asp-action="DetailsBacker" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
</div>